.banner 
    .banner__elementos
        h2.banner__titulo BIENVENIDA 
        p.banner__parrafo   
            |En Mi Milita
            |vas a encontrar los mejores accesorios y las mas lindas joyas en plata 
            |925 a un precio increible. Envíos sin cargo a toda la ciudad de Córdoba.
            |Podés escribirnos a nuestras fanpages para hacer tu pedido.