.footer 
    footer 
        nav#redes.redes 
            a.redes__enlaces(href="https://www.facebook.com/miMilitaJoyeria", target="_blank"): i(class="fab fa-facebook-square") Facebook
            a.redes__enlaces(href="https://www.instagram.com/mi.milita/", target="_blank"): i(class="fab fa-instagram-square") Instagram
            a.redes__enlaces(href="", target="_blank"): i(class="fab fa-whatsapp-square") WhatsApp
        .derechos: p Todos los derechos reservados
        