.encabezado 
    header 
        .encabezado__logo: img(src="../img/logo.jpg", alt="Mi Milita Logo", title="Mi Milita")
        .encabezado__frase: h1 JOYAS PLATA 925
        .encabezado__enlaces 
            a(href="#promociones") Promociones 
            a(href="#sobrenosotros") Sobre Nosotros 
            a(href="#contacto") Contacto
        