//- añadimos el codigo reutilizable o plantilla
extend plantilla.pug 
block contenidos
    div 
        section.promociones
            h3.promociones__titulo PROMOCIONES
            +imagen("img1.jpeg","Pulsera Niños","$1500")
            +imagen("img2.jpeg","Pulsera Niños santos","$1600")
            +imagen("img3.jpeg","Pulsera anidada","$1450")
            +imagen("img4.jpeg","Collar perlas rojas","$2500")
            +imagen("img5.jpeg","Pulsera Estrella","$500")
            +imagen("img6.jpeg","Pulsera Vida","$2300")
